html, body {

width: 100%;
height: 100%;
}

body {

  min-height: 100%;
  background-color: crimson;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  border: 0.2px solid blue;
}


.main{


}

.cart{


}
/* 
.banner{
    text-align: center;
    width: 100%;
    background: crimson;
    display: inline-block;
    margin: auto;
  } */


.app-container {

  
}


.nav-left {
  width: 100%;
  height: 15rem;
	position: fixed;
	top: 0;
	left: 0;
  z-index: 100;
  background-color: white; 
}

.nav-left {
  width: 50%;
  float: left;
  vertical-align: middle;
  padding: 1.5rem 3rem;
}

.nav-left.img {
  width: 15rem;
}

.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}